body{
    background-color: #202020;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    display: block;
    margin: auto;
}

nav li{
    display: inline-block;
    width:18%;
    padding:12px;
    background-color:#0000008a;
    text-align:center;
    list-style-type: none;
    }

nav ul{
    color: white;
}

h2{
    margin-top: 50px;
    text-align: center;
}

p{
    margin-top: 10px;
}

.entrada,.clientes_satis{
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

a{
    color: #ffffff;
}

footer
{
    margin-top:50px;
    width:100%;
    height:200px;
    background-color:#0000008a;
}

span{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
