body{
    background-color: #202020;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    display: block;
    margin: auto;
}

nav li{
    display: inline-block;
    width: 18%;
    padding: 12px;
    background-color: #0000008a;
    text-align: center;
    list-style-type: none;
    border: 0.1px solid;
    border-color: #ffd100;
    cursor:crosshair;
    }

nav ul{
    color: white;
}

.titulos{
    margin-top: 50px;
    text-align: center;
}

.info{
    margin-top: 10px;
}

.cajainfo{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color:#ff6017
}

.pie{
    background-color: #0000008a;;
    text-align: center;
    padding: 35px;
}

.pagos{
    width: 40px;
}

.stock{
    width: 100%;
}

.cajacoche{
    display: flex;
    justify-content: center;
}

.fotocoche{
    width: 20%;
}

.nombrecoche{
    text-align: center;
    font-size: x-large ;
    font-weight: bold;
}

input{
    background-color: #202020;
    border: 1px solid;
    border-color: #ffffff;
    height: 20px;
}

.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
}

#nombre{
    width: 700px;
}

#telefono,#email,textarea{
    margin-top: 50px;
}

#txthora{
    width: 34px;
    color: #ffffff;
    border-style: none;
    position: absolute;
    top: 5px;
    left: 97.5%;
}