body{
    background-color: #202020;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.logo{
    display: block;
    margin: auto;
}

nav li{
    display: inline-block;
    width: 18%;
    padding: 12px;
    background-color: #0000008a;
    text-align: center;
    list-style-type: none;
    border: 0.1px solid;
    border-color: #ffd100;
    cursor: alias;
    }

nav ul{
    color: white;
}

.titulos{
    margin-top: 50px;
    text-align: center;
}

.info{
    margin-top: 10px;
}

.cajainfo{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color:#ff6017
}

.pie{
    background-color: #0000008a;;
    text-align: center;
    padding: 35px;
}

.pagos{
    width: 40px;
}

.stock{
    width: 100%;
}

.cajacoche{
    display: flex;
    justify-content: center;
}

.fotocoche{
    width: 20%;
}

.nombrecoche{
    text-align: center;
    font-size: x-large ;
    font-weight: bold;
}

textarea{
    height: 150px;
    width: 700px;
    background-color: #202020;
    border-color: #ffffff;
    border-radius: 12px;
    color: #ffffff;
}

.formulario{
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#acepto{
    color: #202020;
}

#nombre,#telefono,#email{
    width: 700px;
    background-color: #202020;
    border: 1px solid;
    border-color: #ffffff;
    height: 20px;
    border-radius: 7px;
    color: #ffffff;
    text-align: center;
}

#txthora{
    width: 34px;
    color: #ffffff;
    border: dotted 1px #ffd100;
    position: absolute;
    top: 5px;
    left: 97.5%;
    text-align: center;
    background-color: #202020;
}

#identidad{
    color: transparent;
}

#enviar{
    border-radius: 7px;
    padding: 10px;
    width: 700px;
    background-color: #4d4c4c;
    color: #ffffff;
}

.privacidad{
    text-align: center;
    font-size: small;
}


.promociones{
    width: 100%;
    display: flex;
}

.video{
    width: 50%;
    margin-left: 245px;
}

video{
    height: 750px;
}

.infors{
    text-align: center;
}

.rs6{
    margin-top: 175px;
    font-weight: bold;
    font-size: xxx-large;
}

.caracteristicasrs{
    font-weight: lighter;
    font-size: x-large;
}